                <div class="card">
                    <div id="tollbar" class="card-header">
                        <div class="btn btn-primary" id="done">
                            done
                        </div>
                        <div class="btn btn-primary" id="rew">
                            rewrite
                        </div>
                        <div class="btn btn-primary" id="adder">
                            Add media
                        </div>
                        <div class="btn btn-primary" id="prev">
                            preview
                        </div>
                        <div class="btn btn-primary" id="AI-aed">
                            AI auto editor
                        </div>
                        <div class="btn btn-primary" id="AI-ed">
                            AI editor
                        </div>
                        <div class="btn btn-primary" id="gener">
                            genarte media
                        </div>
                        <div class="btn btn-primary" id="codeV">
                            code post
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="postForm" onsubmit="javascript:fet()" method="dialog">
                            <input type="text" placeholder="command to AI" name="prompt" id="prompt" class="Hidy">
                            <textarea class="text" id="edited" name="edited"></textarea>
                            <button id="subber" type="submit" style="display:None"></button>
                        </form>
                    </div>
                    <div class="card-body" id="viewDiv"></div>
                </div>
