<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NetInfo</title>

    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="/static/css/libs.min.css">
    <link rel="stylesheet" href="/static/css/socialv.css?v=4.0.0">
    <link rel="stylesheet" href="/static/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/static/vendor/remixicon/fonts/remixicon.css">
    <link rel="stylesheet" href="/static/vendor/vanillajs-datepicker/dist/css/datepicker.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome-line-awesome/css/all.min.css">
    <link rel="stylesheet" href="/static/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
    <style>
        .content-page {
            height: 80vh;
            /* or any desired height */
            overflow-y: auto;
        }

    </style>

</head>

<body    {% include 'parts/loader.html' %}
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
     {% include 'parts/side.html' %}
     {% include 'parts/top.html' %}

        <div class="content-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 row m-0 p-0 ">
                        <div class="card">
                            <div class="card-block">
                                <ul class="iq-top-navbar">
                                    <nav class="navbar">
                                        <li class="nav-item">
                                            posts <input type="checkbox">
                                        </li>
                                        <li class="nav-item">
                                            events <input type="checkbox">
                                        </li>
                                        <li class="nav-item">
                                            groups <input type="checkbox">
                                        </li>
                                        <li class="nav-item">
                                            videos <input type="checkbox">
                                        </li>
                                        <li class="nav-item">
                                            images <input type="checkbox">
                                        </li>
                                        <li class="nav-item">
                                            podcasts <input type="checkbox">
                                        </li>
                                        <li class="nav-item">
                                            my massages <input type="checkbox">
                                        </li>
                                        <li class="nav-item">
                                            my friends <input type="checkbox">
                                        </li>
                                        <li class="nav-item">
                                            users <input type="checkbox">
                                        </li>
                                        <li class="nav-item">
                                            deep search <input type="checkbox" placeholder="True">
                                        </li>
                                        <li class="ri-search-line"><button class="btn-primary"
                                                style="height: 10vh;">apply</button></li>
                                    </nav>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 row m-0 p-0" id="content-page">
                        <div class=" card">
                            <div class="card-header d-flex justify-content-between">
                                <div class="header-title">
                                    <h4 class="card-title">Sorted by <span class="sortType">Netinfo Ranking</span></h4>
                                </div>
                                <div class="card-header-toolbar d-flex align-items-center">
                                    <div class="dropdown">
                                        <div class="dropdown-toggle" id="dropdownMenuButton01" data-bs-toggle="dropdown"
                                            aria-expanded="false" role="button">
                                            <i class="ri-more-fill h4"></i>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-right"
                                            aria-labelledby="dropdownMenuButton01">
                                            <a class="dropdown-item" href="#">Date</a>
                                            <a class="dropdown-item" href="#">Best match</a>
                                            <a class="dropdown-item" href="#">conntent qulity</a>
                                            <a class="dropdown-item" href="#">most popular</a>
                                            <a class="dropdown-item" href="#">Netinfo Ranking</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for result in results %}
                        <div class="card">
                            <a href="{{result['url']}}">
                                <div class="card-header d-flex justify-content-between">
                                    {{result['name']}}
                                </div>
                                <div class="card-body">
                                    {{result['data']}}
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Wrapper End-->
                {% include 'parts/footer.html' %} <!-- Backend Bundle JavaScript -->
                <script src="/static/js/libs.min.js"></script>
                <!-- slider JavaScript -->
                <script src="/static/js/slider.js"></script>
                <!-- masonry JavaScript -->
                <script src="/static/js/masonry.pkgd.min.js"></script>
                <!-- SweetAlert JavaScript -->
                <script src="/static/js/enchanter.js"></script>
                <!-- SweetAlert JavaScript -->
                <script src="/static/js/sweetalert.js"></script>
                <!-- app JavaScript -->
                <script src="/static/js/charts/weather-chart.js"></script>
                <script src="/static/js/sub.js"></script>
                <script src="/static/js/app.js"></script>
                <script src="/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
                <script src="/static/js/lottie.js"></script>
                <script src="/static/js/enteractpost.js"></script>


                <!-- offcanvas start -->
                {% include 'parts/offcanvas.html' %}

                <div class="offcanvas offcanvas-bottom share-offcanvas" tabindex="-1" id="share-btn"
                    aria-labelledby="shareBottomLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="shareBottomLabel">Share</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body small">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="text-center me-3 mb-3">
                                <img src="/static/images/icon/08.png" class="img-fluid rounded mb-2" alt="">
                                <h6>Facebook</h6>
                            </div>
                            <div class="text-center me-3 mb-3">
                                <img src="/static/images/icon/09.png" class="img-fluid rounded mb-2" alt="">
                                <h6>Twitter</h6>
                            </div>
                            <div class="text-center me-3 mb-3">
                                <img src="/static/images/icon/10.png" class="img-fluid rounded mb-2" alt="">
                                <h6>Instagram</h6>
                            </div>
                            <div class="text-center me-3 mb-3">
                                <img src="/static/images/icon/11.png" class="img-fluid rounded mb-2" alt="">
                                <h6>Google Plus</h6>
                            </div>
                            <div class="text-center me-3 mb-3">
                                <img src="/static/images/icon/13.png" class="img-fluid rounded mb-2" alt="">
                                <h6>In</h6>
                            </div>
                            <div class="text-center me-3 mb-3">
                                <img src="/static/images/icon/12.png" class="img-fluid rounded mb-2" alt="">
                                <h6>YouTube</h6>
                            </div>
                        </div>
                    </div>
                </div>
</body>

</html>