        <div class="iq-sidebar  sidebar-default ">
            <div id="sidebar-scrollbar">
                <nav class="iq-sidebar-menu">
                    <ul id="iq-sidebar-toggle" class="iq-menu">
                        <li class="">
                            <a href="/" class=" ">
                                <i class="las la-newspaper"></i><span>Newsfeed</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/profile/me" class=" ">
                                <i class="las la-user"></i><span>Profile</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/group" class=" ">
                                <i class="las la-users"></i><span>Group</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/podcast" class=" ">
                                <i class="las la-play"></i><span>Podcast</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/dashboard" class=" ">
                                <i class="far fa-address-card"></i><span>dashboard</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#pages" class="  collapsed" data-bs-toggle="collapse" aria-expanded="false"><i
                                class="ri-pages-line"></i><span>Pages</span><i
                                class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="pages" class="iq-submenu collapse" data-bs-parent="#pages">
                                <li class="">
                                    <a href="/sign-in"><i class="ri-login-box-line"></i>Login</a>
                                </li>
                                <li class="">
                                    <a href="/sign-up"><i class="ri-login-circle-line"></i>Register</a>
                                </li>
                                <li class="">
                                    <a href="/resetpw"><i class="ri-record-mail-line"></i>Recover Password</a>
                                </li>
                                <li class="">
                                    <a href="/confirmEmail"><i class="ri-file-code-line"></i>Confirm Mail</a>
                                </li>
                                <li class="">
                                    <a href="/sign-out"><i class="ri-login-box-line"></i>Sign Out</a>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="p-5"></div>
        </div>
    </div>
